body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

#quiz-container {
    margin-top: 20px;
}

#quiz-container .question {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: left;
}

#quiz-container label {
    display: block;
    margin-bottom: 5px;
}

.question-text {
    max-width: 500px; /* Adjust the maximum width as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#submitQuiz {
    margin-top: 20px;
}
